input {
    height: 40px;
    border: 1px solid rgba(33, 51, 79, 0.15);
    width: 45vw;
    margin: 1% 0;
}


#score-card {
    margin: 2%;
    font-size: 28px;
}

#sign-up{
    width: 50vw;
}

* {
    margin: 0;
    padding: 0;
}

#sign-up > *{
    margin-top: 9vh;
}

#main-section {
    display: flex;
    flex-direction: row;
}

body {
    color: #21334F;
    font-family: Inter, sans-serif;
    font-size: 16px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
}

#logo-container {
    margin-left: 5vw;
    display: flex;
    flex-direction: row;
    align-items: center;
}

::placeholder {
    color: darkgray;
    padding: 5px;
    font-weight: 400;
    font-family: Inter, sans-serif;
    font-size: 16px;
    font-style: normal;
    line-height: normal;
}

#login-text{
    color: #34A853;
    margin-left: 5vw;
    display: flex;
    flex-direction: column;
}
#sign-up-image {
    display: flex;
    width: 60vw;
    flex-direction: row;
    justify-content: space-between;
}

#bg-image {
    height: 130vh;
    display: inline-block;
    margin: 0px;
}

#logo1 {
    position: absolute;
    margin: 10px 10px;
    z-index: 2;
}

#logo2 {
    z-index: 1;
}

#sign-up-form {
    margin-left: 5vw;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: space-between;
}

#sign-up-button {
    background: radial-gradient(circle at 10% 20%, rgb(4, 159, 108) 0%, rgb(194, 254, 113) 90.1%);    display: flex;
    justify-content: center;
    align-items: center;
    height: 40px;
    border: 0;
    width: 100%;
    align-self: flex-start;
}

#sign-up-text {
    font-size: 32px;
}

#sign-up-button-text {
    color: #ffff;
    font-size: 16px;
}
#sign-up-text, #sign-up-button {
    display: flex;
    flex-direction: column;
    margin: 5% 0;
}
